# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log

# Build output
dist
build

# Environment files
.env
.env.local
.env.*.local

# Logs
logs
*.log

# Docker-specific files
Dockerfile
docker-compose*.yml

# IDE/editor files
.vscode
.idea
*.swp

# OS-specific files
.DS_Store
Thumbs.db
